@model PokemonOrder.Dto.CustomerDto

<div>
    <div class="card">
        <div class="card-body">
                <h5 class="card-title">Customer name:  @Model.Name</h5>
                <p class="card-text">Customer mail: @Model.Mail</p>
                <p class="card-text">Orders: @Model.NumberOfOrders</p>
            </div>
    </div>
</div>